{% extends 'base-backend.html.twig' %}

{% set title = 'Movie' %}

{% block content %}
    <h1>Movie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ movie.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ movie.name }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ movie.summary }}</td>
            </tr>
            <tr>
                <th>DateSortie</th>
                <td>{{ movie.dateSortie ? movie.dateSortie|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Enable</th>
                <td>{{ movie.enable ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_movie_index') }}">back to list</a>

    <a href="{{ path('app_movie_edit', {'id': movie.id}) }}">edit</a>

    {{ include('backend/movie/_delete_form.html.twig') }}
{% endblock %}
