{% extends 'base-backend.html.twig' %}

{% set title = "Clients" %}

{% block content %}
    <a href="{{ path('app_client_new') }}">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>ValideEmail</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.FirstName }}</td>
                <td>{{ client.LastName }}</td>
                <td>{{ client.ValideEmail }}</td>
                <td>{{ client.Enable ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_client_show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('app_client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucune client trouver found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
