{% extends 'base-backend.html.twig' %}

{% set title = 'Liste des Commandes '%}

{% block content %}
    
<div class="m-5 p-2 gap-5 grid content-start hover:content-around text-center ">
     <a class="btn btn-blue p-5" href="{{ path('app_command_new') }}">Création d'une commande</a>
     </div>
     <table class="min-w-full text-left text-sm font-light text-surface dark:text-white">
        <thead class="border-b border-neutral-200 font-medium dark:border-white/10">
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>DateCommande</th>
                <th>DateExpedie</th>
                <th>DateRetour</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for command in commands %}
            <tr>
                <td>{{ command.id }}</td>
                <td>{{ command.Reference }}</td>
                <td>{{ command.DateCommande ? command.DateCommande|date('Y-m-d') : '' }}</td>
                <td>{{ command.DateExpedie ? command.DateExpedie|date('Y-m-d') : '' }}</td>
                <td>{{ command.DateRetour ? command.DateRetour|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_command_show', {'id': command.id}) }}">show</a>
                    <a href="{{ path('app_command_edit', {'id': command.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
{% endblock %}
