{% extends 'base.html.twig' %}

{% set title = movie.name  %}

{% block content %}
<section class="bg-gray-50">

  <div class="relative items-center w-4/5 px-2 py-5 mx-auto max-w-7xl">
    <div class="grid grid-cols-1 gap-3">

      <div class="p-10">
        <img class="object-cover object-center w-full mb-8 lg:h-90 md:h-108 rounded-xl" src="{{ movie.medias.count > 0 ? movie.medias[0].path: asset('images/not_available.png') }}" alt="blog">
        <h1 class="mx-auto mb-8 text-3xl font-semibold leading-none tracking-tighter text-neutral-600 lg:text-4xl">
          {{ movie.name }}
        </h1>
        <p class="mx-auto mb-8  leading-none tracking-tighter text-neutral-600">Genres : <span>
            {% for genre in movie.genres %}
            {{ genre.name }}
            &nbsp;
            {% endfor %}
          </span>
        </p>
        <p class="mx-auto text-base leading-relaxed text-gray-500">
          {{ movie.Summary }}
        </p>

        <div class="mt-4">
          <form action="{{path('app_user_add_basket', {id: movie.id})}}" method="POST">
            <input class="btn btn-blue" type="submit" value="Ajouter au panier">
          </form>
        </div>
      </div>

    </div>
  </div>
</section>

<a href="{{ path('app_user_movie_index') }}">Retour à la liste</a>




{% endblock %}