{% extends 'backend/indextypes.html.twig' %}

{% set title ='TypeCredit index'%}

{% block type %}
    <h1>TypeCredit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Prix</th>
                <th>NbCredit</th>
                <th>Enable</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_credit in type_credits %}
            <tr>
                <td>{{ type_credit.id }}</td>
                <td>{{ type_credit.name }}</td>
                <td>{{ type_credit.prix }}</td>
                <td>{{ type_credit.nbCredit }}</td>
                <td>{{ type_credit.Enable ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_type_credit_show', {'id': type_credit.id}) }}">show</a>
                    <a href="{{ path('app_type_credit_edit', {'id': type_credit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_type_credit_new') }}">Create new</a>
{% endblock %}
