{% extends 'backend/indextypes.html.twig' %}

{% set title = "TypeMedia " %}

{% block type %}
    <h1>TypeCredit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_credit.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ type_credit.Name }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ type_credit.Prix }}</td>
            </tr>
            <tr>
                <th>NbCredit</th>
                <td>{{ type_credit.NbCredit }}</td>
            </tr>
            <tr>
                <th>Enable</th>
                <td>{{ type_credit.Enable ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_type_credit_index') }}">back to list</a>

    <a href="{{ path('app_type_credit_edit', {'id': type_credit.id}) }}">edit</a>

    {{ include('backend/type_credit/_delete_form.html.twig') }}
{% endblock %}
