{% extends 'base.html.twig' %}

{% block title %}Profil du client{% endblock %}

{% block content %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="text-red-600 dark:text-red-500" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Profil du client</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}
    {{ form_widget(form) }}
        <a href="{{ path('app_user_add_credit', {'id': client.id}) }}">Ajouter du crédit</a>
    
    {{ form_end(form) }}


    


     
{% endblock %}
